* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 88px;
  background: #d3d3d3;
}

.box-shadow {
  background: #121b20;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
}

.alinha {
  background: #23333d;
  justify-content: center;
  align-items: center;
}

.chamada {
  text-align: center;
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-color: #c9941b;
  border-radius: 10px;
  color: #f6f6f6;
}
.chamada h1 {
  font-size: 50px;
}

.catbg {
  background-color: #c9c8c8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.catalinha {
  justify-content: space-around;
  background: #23333d;
  border: 4px solid rgba(105, 105, 105, 0.1);
}

.catimg {
  width: 112px;
  height: 320px;
  border: 4px solid #121b20;
  transition: 0.5s all;
}

.catimg:hover {
  border: 10px solid #c9941b;
}

#info-api {
  justify-content: flex-start;
  align-items: center;
}

.informacoes {
  width: 100%;
  align-items: center;
  background-color: #23333d;
}

footer {
  background: #121b20;
  width: 100%;
  text-align: center;
  position: absolute;
}
