* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.bg-primary-color {
  background-color: #1c2830;
}
.bg-secondary-color {
  background-color: #d7d7d7;
}

.bg-tertiary-color {
  background-color: #1c283057;
}

.bg-quaternary-color {
  background-color: #1a262e48;
}

.bg-transparent {
  background-color: transparent;
  border: none;
}

.primary-color {
  color: #d7d7d7;
}

.secondary-color {
  color: #1a262e;
}

.tertiary-color {
  color: #d6a228;
}

#navbar {
  height: 60px;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-size: 30px;
  font-weight: 700;
  transition: 0.1s;
}

.navbar-brand span:hover {
  color: #d6a228;
}

a {
  text-decoration: none;
  transition: 0.1s;
}

#sobre-header,
#mySearch {
  text-transform: uppercase;
  font-weight: 400;
}

#sobre-header:hover,
#mySearch:hover {
  color: #888888;
}

#sobre-header:active,
#mySearch:active {
  color: #d6a228;
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
}

.btn:active {
  background-color: #d6a228;
}

main {
  padding-top: 88px;
}

#info-api {
  justify-content: flex-start;
  align-items: center;
}

.informacoes {
  width: 100%;
  align-items: center;
  padding-left: 30px;
  border: 2px solid #121b20;
}

footer {
  padding-top: 40px;
  height: 30vh;
}

footer img {
  width: 50px;
}

footer span {
  font-size: 13px;
  text-transform: uppercase;
}

#textInput {
  height: 80px;
  width: 100%;
  padding-left: 5px;
}

footer .bi {
  font-size: 35px;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.1s;
}

footer .bi:hover {
  color: #d6a228;
}

footer a:visited {
  color: #d7d7d7;
}
