@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #1c2830;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.tabela-preco {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}

.card-preco {
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: black;
  transition: 0.3s linear;
}

.card-preco:hover .card-preco-header {
  box-shadow: 0 0 0 26em #d6a228;
}

.card-preco-header {
  background-color: black;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s line;
}

.preco {
  font-size: 70px;
  color: black;
  margin: 40px 0;
  transition: 0.2s linear;
}

.preco sup,
.preco span {
  font-size: 22px;
  font-weight: 700;
}

.card-preco:hover,
.card-preco:hover .preco {
  color: #fff;
}

.card-preco li {
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #1c2830;
  color: black;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
}

.btn:hover {
  background-color: #1c2830;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .card-preco {
    flex: 50%;
  }
}
