* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d3d3d3;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.bg-primary-color {
  background-color: #1c2830;
}
.bg-secondary-color {
  background-color: #d7d7d7;
}

.bg-tertiary-color {
  background-color: #1c283057;
}

.bg-quaternary-color {
  background-color: #1a262e48;
}

.bg-transparent {
  background-color: transparent;
  border: none;
}

.primary-color {
  color: #d7d7d7;
}

.secondary-color {
  color: #1a262e;
}

.tertiary-color {
  color: #d6a228;
}

header {
  width: 100%;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-size: 30px;
  font-weight: 700;
  transition: 0.1s;
}

.navbar-brand span:hover {
  color: #d6a228;
}

a {
  text-decoration: none;
  transition: 0.1s;
}

.search {
  width: 400px;
}

#sobre-header,
#mySearch {
  text-transform: uppercase;
  font-weight: 400;
}

#sobre-header:hover,
#mySearch:hover {
  color: #888888;
}

#sobre-header:active,
#mySearch:active {
  color: #d6a228;
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
}

.btn:active {
  background-color: #d6a228;
}

main {
  padding-top: 90px;
  width: 100%;
  height: 70vh;
  background-color: #1c2830;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #23333d; */
  width: 40%;
  height: 55vh;
  padding: 10px;
  border-radius: 10px;
  color: #1a262e;
  text-align: center;
  box-shadow: rgb(0, 0, 0) 2px 2px 8px;
}

.login-card a {
  color: #1a262e;
}

.login-card button {
  background-color: #d6a228;
  width: 30%;
  height: 5vh;
  border-radius: 5px;
  color: #1a262e;
  border: none;
  /* box-shadow: rgb(0, 0, 0) 5px 5px 10px; */
}

.login-card button:hover {
  background-color: #1b2b35;
  transition: 0.4s;
  cursor: pointer;
  color: #d3d3d3;
}

form {
  width: 100%;
}

.campos {
  border: none;
  width: 90%;
  height: 4vh;
  background: none;
  border-bottom: 3px solid #1a262e;
  color: #1a262e;
}

.campos::placeholder {
  color: #1a262ebb;
}

.campos:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

footer {
  padding-top: 40px;
  height: 30vh;
}

footer img {
  width: 50px;
}

footer span {
  font-size: 13px;
  text-transform: uppercase;
}

#textInput {
  height: 80px;
  width: 100%;
  padding-left: 5px;
}

footer .bi {
  font-size: 35px;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.1s;
}

footer .bi:hover {
  color: #d6a228;
}

footer a:visited {
  color: #d7d7d7;
}

/* mobile*/

@media (max-width: 1050px) {
  .login-card {
    width: 50%;
    height: 50vh;
  }
  .footer-mob {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 490px) {
  .login-card {
    width: 90%;
  }
  .footer-mob {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
