* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.bg-primary-color {
  background-color: #1c2830;
}

.bg-secondary-color {
  background-color: #d7d7d7;
}

.bg-tertiary-color {
  background-color: #1c283057;
}

.bg-quaternary-color {
  background-color: #1a262e48;
}

.bg-transparent {
  background-color: transparent;
  border: none;
}

.primary-color {
  color: #d7d7d7;
}

.secondary-color {
  color: #1a262e;
}

.tertiary-color {
  color: #d6a228;
}

/* --------estilo header-------- */

header {
  width: 100%;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-size: 30px;
  font-weight: 700;
  transition: 0.1s;
}

.navbar-brand span:hover {
  color: #d6a228;
}

a {
  text-decoration: none;
  transition: 0.1s;
}

#sobre-header {
  text-transform: uppercase;
  font-weight: 400;
}

#sobre-header:hover {
  color: #888888;
}

#sobre-header:active {
  color: #d6a228;
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
}

.btn:active {
  background-color: #d6a228;
}

/* --------estilo main-------- */

main {
  background: url("https://media3.giphy.com/media/g9582DNuQppxC/giphy.gif?cid=790b76117075bb6c2dd1dce087c076f45b8e7d08b48993f3&rid=giphy.gif&ct=g")
    center center no-repeat fixed;
  background-size: cover;
}

#intro-um {
  height: 100vh;
  background-color: #11181dc4;
}

#intro-texto {
  width: 80%;
}

h2{
  text-align: center;
}

.card {
  width: 30%;
  height: 170px;
  font-size: 18px;
}

#botoes-um {
  width: 70%;
}

#saiba,
#cadastre {
  width: 100%;
  font-size: 16px;
  height: 10%;
}

#botoes-um span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

#intro-dois {
  min-height: 100vh;
}

.titulo-intro-dois {
  font-size: 30px;
}

.texto-intro-dois {
  font-size: 25px;
  font-weight: 400;
}

.carousel{
    width: 50%;
}

.carousel-inner{
    width: 70%;
}

.carousel-item{
    height: 530px;
}

.carousel-item img{
    background-size: contain;
}

#intro-tres{
    min-height: 100vh;
}

#intro-tres h3 {
  font-weight: 400;
}

.options {
  transition: 0.2s;
}

.options:hover {
  color: #d6a228;
}

#intro-tres .icons {
  font-size: 150px;
  padding: 0 70px;
}

#intro-tres p {
  text-transform: uppercase;
}

.dash {
  font-size: 50px;
  color: #d6a228dc;
}

#intro-quatro {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

#intro-quatro p {
  font-size: 20px;
}

/* --------estilo footer-------- */

footer {
  height: 30vh;
}

footer img {
  width: 50px;
}

footer span {
  font-size: 13px;
  text-transform: uppercase;
}

#textInput {
  height: 80px;
  width: 100%;
  padding-left: 5px;
}

footer .bi {
  font-size: 35px;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.1s;
}

footer .bi:hover {
  color: #d6a228;
}

footer a:visited{
    color: #d7d7d7;
}

@media (max-width: 1100px){
    #intro-um{
        height: auto;
        padding: 90px 0 30px;
    }

    #intro-texto{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .card{
        height: auto;
    }

    #intro-dois{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        width: 100%;
    }

    .intro-dois-texto{
        width: 100%;
        text-align: center;
    }

    .titulo-intro-dois{
        font-size: 25px;
    }

    .texto-intro-dois{
        font-size: 20px;
    }

    .carousel-inner{
        padding: 15px 0 10px;
    }

    .carousel-item{
      height: 490px;
    }

    .carousel-item img{
        background-size: contain;
    }

    .icones{
      display: flex;
      flex-direction: column;
      height: auto;
    }
    
    #intro-quatro p{
      text-align: center;
    }

    .footer-mob {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-top: 40px;
    }

}

@media (max-width: 700px){
  main{
    background: #1a262e;
  }

  #intro-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card{
    width: 70%;
    margin-bottom: 15px;
  }

  #botoes-um{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .carousel{
    width: 90%;
  }

  .carousel-inner{
    width: 100%;
  }

  .carousel-item{
    width: 100%;
    height: 430px;
  }

  .carousel-item img{
    background-size: contain;
}

  .form-control{
    width: 100%;
    margin-bottom: 10px;
  }
}