*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.bg-primary-color{
    background-color: #1c2830;
}

.bg-secondary-color{
    background-color: #d7d7d7;
}

.bg-tertiary-color{
    background-color: #1c283057;
}

.primary-color{
    color: #d7d7d7;
}

.secondary-color{
    color: #1a262e;
}


/* --------estilo header-------- */

#navbar{
    box-shadow: 0 2px 5px #11181d;
    height: 70px;
}

.navbar-brand img{
    width: 50px;
}

.navbar-brand span{
    font-size: 30px;
    font-weight: 700;
    transition: 0.1s;
}

.navbar-brand span:hover{
    color: #d6a228;
}

a{
    text-decoration: none;
    transition: 0.1s;
}

.nav-item a{
    text-transform: uppercase;
    font-weight: 400;
}

.nav-item a:hover{
    color: #888888;
}

.nav-item a:active{
    color: #d6a228;
}

.btn{
    text-transform: uppercase;
    font-size: 14px;
}

.btn:active{
    background-color: #d6a228;
}


/* --------estilo main-------- */

main{
    background: url("https://media3.giphy.com/media/g9582DNuQppxC/giphy.gif?cid=790b76117075bb6c2dd1dce087c076f45b8e7d08b48993f3&rid=giphy.gif&ct=g") center center no-repeat fixed;
    background-size: cover;
}

#intro-um{
    height: 100vh;
    background-color: #11181dc4;
}

#intro-texto{
    width: 80%;
}

.card{
    width: 18rem;
}

#botoes-um{
    width: 700px;
}

#botoes-um span{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

#saiba, #cadastre-se{
    width: 300px;
}

#intro-dois{
    min-height: 100vh;
}

#texto-intro-dois{
    font-size: 20px;
    font-weight: 500;
}

.carousel-inner{
    width: 400px;
}

#intro-tres{
    height: 70vh;
}


/* --------estilo footer-------- */

footer{
    height: 30vh;
}