<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resiliaflix | Preços</title>
    <link rel="stylesheet" type="text/css" href="./precos.css" />
  </head>
  <body>
    <div class="tabela-preco">
      <div class="card-preco">
        <h3 class="card-preco-header">Básico</h3>
        <div class="preco"><sup>R$</sup>15<span>/Mês</span></div>
        <ul>
          <li><strong>Imagem em HD</strong></li>
          <li><strong>Filmes e séries ilimitados</strong></li>
          <li><strong>Imagem em Ultra HD Indisponível</strong></li>
          <li><strong>1 Telas simultâneas</strong></li>
          <li>
            <strong>Assistir na TV, notebook, tablet ou smartphone</strong>
          </li>
        </ul>
        <a href="../cartao/cartao.html" class="btn">Quero este Plano</a>
      </div>

      <div class="card-preco">
        <h3 class="card-preco-header">Médio</h3>
        <div class="preco"><sup>R$</sup>25<span>/Mês</span></div>
        <ul>
          <li><strong>Imagem em HD</strong></li>
          <li><strong>Filmes e séries ilimitados</strong></li>
          <li><strong>Imagem em Ultra HD Indisponível</strong></li>
          <li><strong>2 Telas simultâneas</strong></li>
          <li>
            <strong>Assistir na TV, notebook, tablet ou smartphone</strong>
          </li>
        </ul>

        <a href="../cartao/cartao.html" class="btn">Quero este Plano</a>
      </div>

      <div class="card-preco">
        <h3 class="card-preco-header">Master</h3>
        <div class="preco"><sup>R$</sup>50<span>/Mês</span></div>
        <ul>
          <li><strong>Imagem em HD</strong></li>
          <li><strong>Filmes e séries ilimitados</strong></li>
          <li><strong>Imagem em Ultra HD disponível</strong></li>
          <li><strong>3 Telas simultâneas</strong></li>
          <li>
            <strong>Assistir na TV, notebook, tablet ou smartphone</strong>
          </li>
        </ul>
        <a href="../cartao/cartao.html" class="btn">Quero este Plano</a>
      </div>
    </div>
  </body>
</html>
